@import './base.scss';

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;

//   font-weight: normal;
// }

// a,
// .green {
//   text-decoration: none;
//   color: hsla(160, 100%, 37%, 1);
//   transition: 0.4s;
// }

// @media (hover: hover) {
//   a:hover {
//     background-color: hsla(160, 100%, 37%, 0.2);
//   }
// }

// @media (min-width: 1024px) {
//   body {
//     display: flex;
//     place-items: center;
//   }

//   #app {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     padding: 0 2rem;
//   }
// }

//Functions
@function rem($size) {
  $remSize: calc($size / 16px);
  @return ($remSize) * 1rem;
}

@function em($pixels, $context: 16px) {
  @return calc($pixels / $context) * 1em;
}

//Layout
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.main-layout {
  display: grid;
  grid-template-columns: rem(220px) 1fr;

  >*.full {
    grid-column: 1 / -1;
  }

  >*:not(.full) {
    grid-column: 2;
  }

  >*.nav {
    grid-column: 1;
  }
}

.card-layout {
  display: grid;
  grid-template-columns: 60px 1fr 60px;

  >*.full {
      grid-column: 1 / -1;
  }

  >*:not(.full) {
      grid-column: 2;
  }
}

.home-layout {
  display: grid;
  grid-template-columns: .7fr 1fr;

  .left {
      grid-column: 1;
  }

  .right {
      grid-column: 2;
  }
}

.contacts-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: em(32px);
}

// Helpers
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.auto-center {
    justify-content: center;
    align-items: center;
  }

  >*.full-grow {
    flex: 1;
  }
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &>li {
    margin: 0;
    padding: 0;
  }
}

.loader {
  position: fixed;
  right: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blurred {
  filter: blur(4px);
}

.bold {
  font-weight: 600;
}

.icon {
  width: 25px;
}

.green {
  color: #81c995;
}

.errors {
  color: red;
  margin-top: 0;
}

.colored {
  color: #00415a;
}

.lgreen {
  color: #79a471;
}

.dgreen {
  color: #278664;
}

.gold {
  color: #bf9b30;
}
